<div class="white-wrap white-wrap-narrow">


  <div class="row">
    <div class="col-xs-3">
      <%= image_tag(asset_path('roz.png'),  style: 'width:100%; max-width:100%;') %>
    </div>
    <div class="col-xs-6">
      <h1>Pterowedding RSVP </h1>
      <% if flash[:notice] %>
          <div class="white-wrap error-wrap">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <p>Hurrah! you've found the right place to RSVP for our wedding.</p>

      <%= link_to('RSVP (first time)', new_wedding_rsvp_path(), class: 'btn btn-success') %>

      <%= link_to('Change details', new_wedding_rsvp_path(change: true), class: 'btn btn-info') %>
    </div>

    <div class="col-xs-3">
      <%= image_tag(asset_path('will.png'), style: 'width:100%; max-width:100%;  ' ) %>
    </div>
  </div>
</div>


<div class="white-wrap white-wrap-narrow">

  <%= link_to 'More wedding information', 'http://www.pterowedding.info' %>
</div>
