<%= javascript_include_tag "welcome_page" %>
<div class="white-wrap white-wrap-narrow">


  <div class="row">
    <div class="col-xs-3 roz">
      <%= image_tag(asset_path('roz-v2.png'),  style: 'width:100%; max-width:100%; vertical-align: middle;') %>
    </div>
    <div class="col-xs-6">
      <h1>Pterowedding RSVP </h1>
      <% if flash[:notice] %>
          <div class="white-wrap error-wrap">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <p>Hurrah! you've found the right place to RSVP for our wedding. Use the buttons below to RSVP or change your details.  To find out more about our wedding go to our  <%= link_to 'wedding information site', 'http://www.pterowedding.info' %>.
      </p>

      <%= link_to('RSVP (first time)', new_rsvp_path(), class: 'btn btn-success') %>

      <%= link_to('Change details', new_rsvp_path(change: true), class: 'btn btn-info') %>
    </div>

    <div class="col-xs-3 will">
      <%= image_tag(asset_path('will-v2.png'), style: 'width:100%; max-width:100%; vertical-align: middle; ' ) %>
    </div>
  </div>
</div>


