
<div class="white-wrap white-wrap-narrow">
  <h1>Who is coming?</h1>
</div>

<%= form_for @rsvp do %>
    <%= hidden_field_tag 'rsvp_id', @rsvp.id %>
    <%= hidden_field_tag 'validation_string', @rsvp.validation_string %>

    <% count = @rsvp.people.count  %>
    <div class="people" data-people-count="<%=  @rsvp.people.length  %>" data-count="<%=count%>">
    <% @rsvp.people.each_with_index  do |person_id, index|
        @person = Person.find(person_id)
       if index == 0
         @name = @person.first_name || 'You'
       else
         @name = @person.first_name || "+#{index}"
       end
    %>
      <%=  render partial: 'person', locals: {index: index}  %>
    <%end%>
    </div>


    <div class="white-wrap white-wrap-narrow">
      <%= link_to 'Add another person', '#', class: 'btn btn-default add-person', 'data-rsvp-id' => params[:rsvp_id], 'data-validation-string' => params[:validation_string] %>

      <%= submit_tag 'Next', class: 'btn btn-success' %>

<% end %>



</div>