
<div class="white-wrap white-wrap-narrow">
  <h1>Who is coming?</h1>
</div>

<%= form_tag do %>
    <div class="white-wrap white-wrap-narrow">
      <h3>You</h3>

      <div class="form-group">
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name, '', class: 'form-control', placeholder: 'Willamund' %>
      </div>
      <div class="form-group">
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name, '', class: 'form-control', placeholder: 'Lahurrie' %>
      </div>
      <div class="select-hide-group">
        <div class="form-group">
          <%= label_tag :attending %>
          <%= select_tag :attending, options_for_select([ ['I will be attending', 'yes'], ['I will not be attending', 'no']]), class: 'form-control select-hide' %>
        </div>

        <div class="select-hide-content" data-select-hide-for="no">
          <div class="form-group select-hide">
            <%= label_tag :message %>
            <%= text_area_tag :message, '', class: 'form-control', placeholder: 'add a message if you want to - this is optional!' %>
          </div>
        </div>
        <div class="select-hide-content"  data-select-hide-for="yes">
          <div class="select-hide-group">
          <div class="form-group">
            <%= label_tag :size %>
            <%= select_tag :size, options_for_select([['Grown up', 'grown_up'], ['Child', 'child']]), class: 'form-control select-hide' %>
          </div>

          <div class="form-group select-hide-content"  data-select-hide-for="child" >
            <%= label_tag :age %>
            <%= number_field_tag :age, '', class: 'form-control', placeholder: 100 %>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="white-wrap white-wrap-narrow">

      <h3>+1</h3>

      <div class="form-group">
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name, '', class: 'form-control', placeholder: 'Willamund' %>
      </div>
      <div class="form-group">
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name, '', class: 'form-control', placeholder: 'Lahurrie' %>
      </div>
      <div class="form-group">
        <%= label_tag :size %>
        <%= select_tag :size, options_for_select([['Grown up', 'grown_up'], ['Child', 'child']]), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag :age %>
        <%= number_field_tag :age, '', class: 'form-control', placeholder: 100 %>
      </div>

    </div>




    <div class="white-wrap white-wrap-narrow">
      <%= link_to 'Add another person', '#', class: 'btn btn-default' %>

      <%= link_to 'Finished', '#', class: 'btn btn-success' %>
<% end %>


</div>