<div class="white-wrap white-wrap-narrow">

<h1><%= @title %></h1>
  <%if (params['change']) %>
      <p>Please enter your email address to find your record</p>
  <% else %>
      <p>Please enter your email address.  This is so that you can come back and change your preferences and details later.  You can RSVP for as many people as you like </p>
    <%end%>

  <%= form_tag wedding_rsvp_path do %>
  <%= hidden_field_tag :change, params['change'] %>
  <%= email_field_tag :email,'', placeholder: 'you@your_email.com', class: 'form-control' %>
<br>
      <%= submit_tag "Lets go!", class: 'btn btn-success' %>
  <% end %>

</div>